@use '../../../styles/variables' as *;

.register {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &__input {
            &__options {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}
