.hero {
    border-radius: 0 0 $border-radius-xl $border-radius-xl;
    background: $gradient-primary-700-900-lr;
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 20px;

    @include mobile-only {
        padding: $main-content-padding-mobile;
        padding-top: 24px;
        padding-bottom: 40px;
    }

    &__info {
        max-width: 700px;
    }

    &__icon {
        @include mobile-only {
            height: 175px;
            width: auto;
        }
    }
}

.bc {
    @include desktop-only {
        margin-bottom: -40px;
    }
}

.columns {
    grid-template-rows: repeat(5, auto);

    @include mobile-only {
        grid-template-rows: none;
        gap: 48px;
    }

    &__column {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 5;
        gap: 40px;

        @include mobile-only {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}