.hero {
    border-radius: 0 0 $border-radius-xl $border-radius-xl;
    background: $gradient-primary-700-900-lr;
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 20px;

    &__info {
        max-width: 700px;
    }
}

.bc {
    margin-bottom: -40px;
}

.benefits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: $columns-gap;
}
