.body {
    width: 100%;
    min-height: 100vh;
}

.logo {
    width: 950px;
    background: $gradient-primary-700-900-lr;
    position: relative;

    &__lion1 {
        position: absolute;
        top: 27px;
        left: 27px;
    }

    &__lion2 {
        position: absolute;
        bottom: 27px;
        right: 27px;
    }
}

.auth {
    &__wrapperOuter {
        padding: 30px;
        flex-grow: 1;
    }
    &__wrapperInner {
        height: 100%;
        width: 450px;
    }
    &__content {
        flex-grow: 1;
    }
}
