.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 24px;
    font-weight: $font-weight-medium;
    cursor: pointer;
    transition: all 0.2s ease;
    max-width: 100%;
    text-decoration: none;

    &__content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    // Ширина
    &--width-auto {
        width: max-content;
    }

    &--width-max {
        width: 100%;
    }

    // Размеры
    &--lg {
        padding: 15px 20px;
    }

    &--md {
        padding: 10px 20px;
    }

    // Кнопка только с иконкой
    &--only-icon {
        &.button--lg {
            padding: 15px;
        }

        &.button--md {
            padding: 10px;
        }
    }

    // Варианты
    &--primary {
        &--light {
            background: $primary-700;
            color: $gray-0;

            &:hover:not(:disabled) {
                background: $primary-800;
            }

            &:active:not(:disabled),
            &:focus:active:not(:disabled) {
                background: $primary-900;
            }

            // &:focus:not(:disabled) {
            //     outline: 2px solid $primary-400;
            //     outline-offset: 2px;
            // }
            &:disabled {
                background: $error-bg-disable;
                color: $error-text-disable;
            }
        }
    }

    &--outlined {
        &--light {
            background: transparent;
            color: $gray-70;
            border: 1.6px solid $gray-20;

            &:hover:not(:disabled) {
                background: $gray-opacity-20-70;
                color: $gray-100;
            }

            &:active:not(:disabled),
            &:focus:active:not(:disabled) {
                background: $gray-20;
                color: $gray-70;
            }

            &:focus:not(:disabled) {
                border-color: $primary-600;
            }
        }

        &--dark {
            color: $gray-0;
            border: 1.6px solid $gray-opacity-0-20;

            &:hover:not(:disabled) {
                color: $gray-0;
                background: $gray-opacity-20-20;
                border-color: $gray-opacity-0-40;
            }
            &:active:not(:disabled),
            &:focus:active:not(:disabled) {
                color: $gray-0;
                background: $gray-opacity-0-20;
                border-color: $gray-opacity-0-20;
            }
            &:focus:not(:disabled) {
                color: $gray-0;
                border-color: $gray-0;
            }
        }
    }

    &--flat {
        &--light {
            background: transparent;
            color: $gray-100;

            &:hover:not(:disabled) {
                background-color: $gray-opacity-20-40;
                color: $gray-100;
            }

            &:active:not(:disabled),
            &:focus:active:not(:disabled) {
                background-color: $gray-30;
            }
        }
    }
}
