node_modules
dist
.git
.gitignore
.vscode
.storybook
*.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
storybook-static
*.test.tsx
*.test.ts
*.spec.tsx
*.spec.ts
*.stories.tsx
*.stories.ts
vitest.shims.d.ts
.husky
.lintstagedrc.json
.prettierignore
.prettierrc.json
eslint.config.js
COMPONENTS_TO_ADD.md