
.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    min-width: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &__lable {
        padding: 0 8px;
        box-sizing: border-box;
    }

    .tabBorder {
        width: 100%;
        height: 1px;
        border-radius: 999px;
        flex-shrink: 0;
        background: $gray-10;
    }

    &--selected {
        .tabBorder {
            background: $primary-700;
            height: 2px;
        }
    }
}
