.page {
    margin-top: 60px;
}

.profileRow {
    gap: 60px;

    @media (max-width: 1024px) {
        flex-direction: column !important;
        gap: 24px !important;
    }
}

.menu {
    background-color: $gray-0;
    width: 360px;
    flex-shrink: 0;
    min-width: 0;
    border-radius: $border-radius-l;
    overflow: hidden;

    &__head {
        background: $primary-700;
        padding: 20px;
    }

    &__body {
        &__item {
            padding: 8px 16px;
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            box-sizing: border-box;

            &__active {
                background-color: $primary-mute;
                border-right: 4px solid $primary-700;
            }
        }
    }

    &__logout {
        width: 100%;
        padding: 18px;
        display: flex;

        align-items: center;
        gap: 8px;
    }

    @media (max-width: 1024px) {
        width: 100%;
        max-width: 100%;
    }
}

.mainPanel {
    flex-grow: 1;
    min-width: 0;
    min-height: 100%;
    max-width: 100%;
}
