.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-opacity-0-70;
    z-index: 1000;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}
