.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-l;
    overflow: hidden;
    background-color: $gray-30;
}

.marker {
    transform: translate(-50%, -100%);
}
