.demo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px 60px;
    box-sizing: border-box;
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}
