@use '@/styles/variables.scss' as *;

.footer {
    box-sizing: border-box;
    background: $gradient-primary-700-900;
    border-radius: 40px 40px 0 0;
    padding: 80px 120px 00px;
    width: 100%;
    margin-top: 100px;

    &__socialMedia_links {
        path,
        circle,
        rect,
        line,
        polyline,
        polygon {
            fill: $primary-yellow;
        }
    }

    &__links {
        &__logo {
            path,
            circle,
            rect,
            line,
            polyline,
            polygon {
                fill: $gray-0;
            }
        }
    }

    &__contactLink {
        font-size: 42px;
        font-weight: 400;
        line-height: 1;
    }

    // &__partnerLogo {
    //     min-height: 100px;
    // }
}
