.container {
    padding: 20px $main-content-padding;
    margin-bottom: -1px;
    min-width: 100%;

    &--dark {
        background: $gradient-primary-700-900-lr;
    }
}

.content {
    max-width: $max-content-width;
    flex-grow: 1;
}

.logoContainer {
    cursor: pointer;
}

.menuContainer {
    padding: 16px 0px;
    border-radius: 40px;
}

.socialButton {
    :global {
        svg {
            color: $primary-yellow !important;

            path,
            circle,
            rect,
            line,
            polyline,
            polygon {
                fill: $primary-yellow !important;
                stroke: $primary-yellow !important;
            }
        }
    }

    &:hover:not(:disabled),
    &:active:not(:disabled),
    &:focus:active:not(:disabled) {
        :global {
            svg {
                color: $primary-yellow !important;

                path,
                circle,
                rect,
                line,
                polyline,
                polygon {
                    fill: $primary-yellow !important;
                    stroke: $primary-yellow !important;
                }
            }
        }
    }

    &--dark {
        border-color: $gray-opacity-0-20;
    }
}
