@use '@/styles/variables.scss' as *;

.container {
    padding: 20px 120px;
    // margin-bottom: 100px;

    &--dark {
        background: $gradient-primary-700-900-lr;
    }
}

.menuContainer {
    padding: 16px 30px;
    border-radius: 40px;
}

.socialButton {
    :global {
        svg {
            color: $primary-yellow !important;

            path,
            circle,
            rect,
            line,
            polyline,
            polygon {
                fill: $primary-yellow !important;
                stroke: $primary-yellow !important;
            }
        }
    }

    &:hover:not(:disabled),
    &:active:not(:disabled),
    &:focus:active:not(:disabled) {
        :global {
            svg {
                color: $primary-yellow !important;

                path,
                circle,
                rect,
                line,
                polyline,
                polygon {
                    fill: $primary-yellow !important;
                    stroke: $primary-yellow !important;
                }
            }
        }
    }

    &--dark {
        border-color: $gray-opacity-0-20;

        //         :global {
        //             svg {
        //                 color: $gray-0 !important;

        //                 path,
        //                 circle,
        //                 rect,
        //                 line,
        //                 polyline,
        //                 polygon {
        //                     fill: $gray-0 !important;
        //                     stroke: $gray-0 !important;
        //                 }
        //             }
        //         }

        //         &:hover:not(:disabled) {
        //             background: $gray-opacity-0-10;
        //             border-color: $gray-opacity-0-20;

        //             :global {
        //                 svg {
        //                     color: $gray-0 !important;

        //                     path,
        //                     circle,
        //                     rect,
        //                     line,
        //                     polyline,
        //                     polygon {
        //                         fill: $gray-0 !important;
        //                         stroke: $gray-0 !important;
        //                     }
        //                 }
        //             }
        //         }

        //         &:active:not(:disabled),
        //         &:focus:active:not(:disabled) {
        //             background: $gray-opacity-0-20;
        //             border-color: $gray-opacity-0-20;

        //             :global {
        //                 svg {
        //                     color: $gray-0 !important;

        //                     path,
        //                     circle,
        //                     rect,
        //                     line,
        //                     polyline,
        //                     polygon {
        //                         fill: $gray-0 !important;
        //                         stroke: $gray-0 !important;
        //                     }
        //                 }
        //             }
        //         }
    }
}
