.root {
    min-height: 100vh;
    min-width: 100%;
}

@media (max-width: 1450px) {
    .root {
        width: 1450px;
    }
}

.content {
    flex-grow: 1;
    width: 100%;
}

.contentGray10 {
    background: $gray-10;
}
