@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use 'sass:color';

.button {
    @include button-reset;
    @include transition(background-color, transform);

    font-family: $font-family-base;
    font-weight: 700;
    border: 0;
    border-radius: $border-radius-lg;
    cursor: pointer;
    display: inline-block;
    line-height: 1;

    &:hover {
        transform: translateY(-1px);
    }

    &:active {
        transform: translateY(0);
    }

    &--primary {
        color: $text-light;
        background-color: $primary-color;

        &:hover {
            background-color: color.adjust($primary-color, $lightness: -10%);
        }
    }

    &--secondary {
        color: $text-primary;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &--small {
        font-size: $font-size-xs;
        padding: $spacing-sm $spacing-md;
    }

    &--medium {
        font-size: $font-size-sm;
        padding: $spacing-sm + 3px $spacing-lg;
    }

    &--large {
        font-size: $font-size-base;
        padding: $spacing-md $spacing-xl;
    }
}
