@use '@/styles/mixins/colors';

.divider {
    border: none;

    &__horizontal {
        width: 100%;
        height: 1px;
    }

    &__vertical {
        width: 1px;
        height: 100%;
    }

    @include colors.color-variants('color', background-color);
}
