@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card {
    @include transition(transform, box-shadow);

    background-color: $bg-primary;
    border-radius: $border-radius-md;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &--default {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &--outlined {
        border: 2px solid $primary-color;
    }

    &--elevated {
        @include box-shadow(md);
        border: none;

        &:hover {
            @include box-shadow(lg);
        }
    }

    &--clickable {
        cursor: pointer;

        &:hover {
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(0);
        }
    }

    &__image {
        width: 100%;
        height: 200px;
        overflow: hidden;
        background-color: $bg-secondary;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__content {
        padding: $spacing-lg;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: 0 0 $spacing-sm 0;
        font-size: $font-size-xl;
        font-weight: 600;
        color: $text-primary;
    }

    &__description {
        margin: 0 0 $spacing-md 0;
        font-size: $font-size-base;
        color: $text-secondary;
        line-height: 1.5;
    }

    &__body {
        margin-top: auto;
    }

    @include respond-to(sm) {
        &__image {
            height: 150px;
        }

        &__content {
            padding: $spacing-md;
        }

        &__title {
            font-size: $font-size-lg;
        }

        &__description {
            font-size: $font-size-sm;
        }
    }
}
