.container {
    border-radius: $border-radius-l;
    padding: 20px;
    background-color: $gray-0;
}

.pin {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $gray-0;
    }
}
