.flatButton {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
    outline: none;
    width: max-content;
    height: max-content;
    line-height: 0;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
