// =============================================================================
// HeaderDesktop — горизонтальная навигация
// =============================================================================

.logoContainer {
    cursor: pointer;
}

.menuContainer {
    padding: 16px 0;
    border-radius: 40px;
}
