name: Deploy Testing

on:
    pull_request:
        branches: [main]
        paths:
            - "**/*"
env:
    # Имя образа: ghcr.io/ваш-юзер/ваш-репо
    REGISTRY: ghcr.io

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v4
            - name: Log in to the Container registry
              uses: docker/login-action@v4
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            # - name: Build and push Docker image
            #   uses: docker/build-push-action@v5
            #   with:
            #       context: .
            #       push: true
            #       tags: app:latest
            #       # tags: ${{ steps.meta.outputs.tags }}
            #       # labels: ${{ steps.meta.outputs.labels }}
            #       # cache-from: type=gha
            #       # cache-to: type=gha,mode=max
            - name: Build and Push
              run: docker-compose build && docker-compose push
    deploy:
        needs: build-and-push
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # Копируем docker-compose.yml на сервер
            - name: Copy docker-compose via SCP
              uses: appleboy/scp-action@master
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USER }}
                  key: ${{ secrets.VPS_SSH_KEY }}
                  source: "docker-compose.yml"
                  target: "/home/${{ secrets.VPS_USER }}/aregrp/"

            # Подключаемся по SSH и обновляем контейнеры
            - name: Execute remote ssh commands
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USER }}
                  key: ${{ secrets.VPS_SSH_KEY }}
                  # Здесь мы передаем имя образа как переменную окружения
                  script: |
                      cd /home/${{ secrets.VPS_USER }}/aregrp/

                      # (Опционально) Создаем .env файл из секретов GitHub
                      echo "${{ secrets.ENV_FILE }}" > .env

                      # Логинимся в реестр GitHub на самом VPS, чтобы скачать приватный образ
                      echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

                      # Останавливаем, скачиваем и запускаем
                      # ВАЖНО: Приводим имя репозитория к нижнему регистру (bash трюк)
                      export DOCKER_IMAGE=ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]'):${{ github.ref_name }}

                      docker-compose pull
                      docker-compose up -d --remove-orphans

                      # Чистим старые неиспользуемые образы, чтобы не забить диск
                      docker image prune -f
